<ion-header>
  <ion-toolbar color="success">
    <ion-title>
      <h1>Introdução:</h1>
      <a class="disable" id="avancarButton" (click)="close()">Fechar</a>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-slides (ionSlideNextStart)="ableAvancar()" (ionSlideReachStart)="disableAvancar()">
    <ion-slide>
      <img src="../../assets/images/intro.gif">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/images/intro2.gif">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/images/intro3.gif">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/images/intro4.gif">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/images/intro5.gif">
    </ion-slide>
  </ion-slides>
</ion-content>